header{
    height: 10vh;
}

.contenedorNav{

    display: flex;

    justify-content: center;

    font-family:fantasy;

}

.contenedorgeneral{
    height: 90vh;
}

.contenedorProductos{
    height: 100%;
    overflow-y: scroll;
}

.contenedorCarrito{
    height: 100%;
    background-color: #808080;
    overflow-y: scroll;
}

.celularesImg{
    max-height: 290px;
}
